* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    --text-color: #FFF;
}

body {
    background: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin: 4rem 0 4rem 7.2rem ;
}

ul {
    display: flex;
    align-items: center;
    gap: 5.2rem;
    list-style: none;
}

li a {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
}